@import url("images.css");

:root,
:root.light {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  color-scheme: light dark;

  --font-color-default: #3e3e3e;
  --font-color-lighter: #757575;
  --font-color-metadata: #b3b3b3;
  --bg-color: transparent;
  --header-footer-bg: linear-gradient(#ffe8e8 0.05em, transparent 0.1em), linear-gradient(90deg, #ffe8e8 0.09em, #fff 0.1em);

  --active-link-color: #dd72bb;
  --hover-link-color: #6fa2ef;
  --border-color: #6fa2ef;

  color: var(--font-color-default);
  background-color: var(--bg-color);

  /*
    arrow-up-right-from-square icon (sharp, thickest) from https://free-icons.github.io/free-icons
    re-sized to 10px, optimized and re-colored to #3e3e3e and #6fa2ef respectively at https://www.svgviewer.dev/svg-to-data-uri
    for use with external links or links that open in a new tab
  */
  --external-link-icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIGZpbGw9IiMzZTNlM2UiIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIj48cGF0aCBkPSJNNi4yNSAwaC0uNjI1emgtLjYyNXYxLjI1aDIuMjQ2TDMuOTI2IDUuMTc2bC0uNDMuNDQ5Ljg3OS44NzkuNDQ5LS40M0w4Ljc1IDIuMTI5djIuMjQ2SDEwVjB6TS42MjUuNjI1SDB6SDBWMTBoOS41MzFWNi4yNWgtMS4yNXYyLjVIMS4yNVYxLjg3NWgyLjVWLjYyNXoiLz48L3N2Zz4=);

  --external-link-icon-hover: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIGZpbGw9IiM2ZmEyZWYiIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIj4KICA8cGF0aCBkPSJNNi4yNSAwSDUuNjI1ekg1LjYyNXYxLjI1aDIuMjQ2TDMuOTI2IDUuMTc2IDMuNDk2IDUuNjI1bDAuODc5IDAuODc5IDAuNDQ5IC0wLjQzTDguNzUgMi4xMjlWNC4zNzVoMS4yNVYwek0wLjYyNSAwLjYyNUgwekgwdjkuMzc1aDkuNTMxdi0zLjc1aC0xLjI1djIuNUgxLjI1VjEuODc1aDIuNVYwLjYyNXoiLz4KPC9zdmc+Cg==);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }
}

/* Start: Dark mode colors, keep these two blocks in sync */
@media (prefers-color-scheme: dark) {
  :root {
    --header-footer-bg: linear-gradient(#474747 0.05em, transparent 0.1em), linear-gradient(90deg, #474747 0.09em, var(--bg-color) 0.1em);
    --external-link-icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIGZpbGw9IiNlZmVmZWMiIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIj48cGF0aCBkPSJNNi4yNSAwaC0uNjI1emgtLjYyNXYxLjI1aDIuMjQ2TDMuOTI2IDUuMTc2bC0uNDMuNDQ5Ljg3OS44NzkuNDQ5LS40M0w4Ljc1IDIuMTI5djIuMjQ2SDEwVjB6TS42MjUuNjI1SDB6SDBWMTBoOS41MzFWNi4yNWgtMS4yNXYyLjVIMS4yNVYxLjg3NWgyLjVWLjYyNXoiLz48L3N2Zz4=);
    --font-color-default: #efefec;
    --font-color-lighter: #eaeaea;
    --bg-color: #2b282b;
  }
}
/* TODO: implement toggle  footer to apply these styles */
:root.dark {
  --header-footer-bg: linear-gradient(#474747 0.05em, transparent 0.1em), linear-gradient(90deg, #474747 0.09em, var(--bg-color) 0.1em);
  --external-link-icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIGZpbGw9IiNlZmVmZWMiIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIj48cGF0aCBkPSJNNi4yNSAwaC0uNjI1emgtLjYyNXYxLjI1aDIuMjQ2TDMuOTI2IDUuMTc2bC0uNDMuNDQ5Ljg3OS44NzkuNDQ5LS40M0w4Ljc1IDIuMTI5djIuMjQ2SDEwVjB6TS42MjUuNjI1SDB6SDBWMTBoOS41MzFWNi4yNWgtMS4yNXYyLjVIMS4yNVYxLjg3NWgyLjVWLjYyNXoiLz48L3N2Zz4=);
  --font-color-default: #efefec;
  --font-color-lighter: #eaeaea;
  --bg-color: #2b282b;
}
/* End: Dark mode colors */

* {
  box-sizing: border-box;
}

@view-transition {
  navigation: auto;
}

html,
body {
  padding: 0;
  margin: 0 auto;
}

body {
  height: 100vh;
  text-transform: lowercase;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main, header, footer {
  padding: 2.5rem 5vw;
}

main {
  flex-grow: 1;
}

a[href],
a[href]:visited {
  text-decoration: none;
  color: var(--active-link-color);
}

a[href]:hover {
  color: var(--hover-link-color);
}

/* For use with external links or links that open in a new tab */
a[target="_blank"]:after,
a[href^="http"]:after {
  content: " " var(--external-link-icon);
}

a[target="_blank"]:hover:after,
a[href^="http"]:hover:after {
  content: " " var(--external-link-icon-hover);
}

/* Header and Footer */
header,
footer {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: var(--header-footer-bg);
  background-size: 0.5em 0.5em;
  flex-grow: 0;
  flex-shrink: 0;
}

.logo {
  width: 64.5px;
  height: 64.5px;
}

header {
  align-items: center;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  gap: 0.5em;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  text-decoration: none;
  margin-left: 0.3em;
}
.nav-item a[href]:not(:hover),
.nav-item a[href]:visited {
  font-weight: 500;
  color: var(--font-color-default);
}
.nav-item a[href]:hover {
  font-weight: 700;
  color: var(--hover-link-color);
}
.nav a[href][aria-current="page"] {
  font-weight: 700;
  color: var(--active-link-color);
}

footer {
  text-transform: none;
  font-size: smaller;
}

footer .copyright {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .copyright-maintext {
  font-weight: 500;
}

footer .copyright-subtext {
  font-weight: 300;
  color: var(--font-color-lighter);
}

.footer-grid {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer-link-box {
  width: calc(100% / 3);
}

.toggle-color-scheme {
  /* text-align: right; */
}

.footer-grid .footer-link-box .footer-link-item {
  padding: 0.25rem 0;
}

footer a[href],
footer a[href]:visited {
  color: var(--font-color-default);
}

footer a[href]:hover {
  color: var(--hover-link-color);
}

.hero, .post-hero, .page-content {
  max-width: 70vw;
}

.hero-title {
  font-size: 6em;
  font-weight: 500;
  line-height: 1;
  margin-left: -0.05em;
}

.hero-subtitle {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--font-color-lighter);
  padding-top: 0.5em;
}

.action-link-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

a.action-link,
a.posts-backlink {
  font-weight: 600;
}

/*
  chevrons-right icon (regular, thickest) from https://free-icons.github.io/free-icons,
  re-sized to 10px, optimized and re-colored to #dd72bb and #6fa2ef respectively at https://www.svgviewer.dev/svg-to-data-uri
  for use as emphasis after certain action links
*/
a.action-link:after {
  content: " " url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIGZpbGw9IiNkZDcyYmIiIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIj48cGF0aCBkPSJNOS43OTkgNS41MTNRMTAgNS4yOSAxMCA1dC0wLjIwMSAtMC41MTNMNS41MTMgMC4yMDFRNS4yOSAwIDUgMHQtMC41MTMgMC4yMDFRNC4yODYgMC40MjQgNC4yODYgMC43MTRxMCAwLjI5IDAuMjAxIDAuNTEzTDguMjgxIDUgNC40ODcgOC43NzJxLTAuMjAxIDAuMjIzIC0wLjIwMSAwLjUxMyAwIDAuMjkgMC4yMDEgMC41MTNRNC43MSAxMCA1IDEwdDAuNTEzIC0wLjIwMXpNMS4yMjggOS43OTlsNC4yODYgLTQuMjg2emw0LjI4NiAtNC4yODZRNS43MTQgNS4yOSA1LjcxNCA1dC0wLjIwMSAtMC41MTNMMS4yMjggMC4yMDFRMS4wMDQgMCAwLjcxNCAwIDAuNDI0IDAgMC4yMDEgMC4yMDEgMCAwLjQyNCAwIDAuNzE0cTAgMC4yOSAwLjIwMSAwLjUxM0wzLjk5NiA1IDAuMjAxIDguNzcyUTAgOC45OTYgMCA5LjI4NnEwIDAuMjkgMC4yMDEgMC41MTNRMC40MjQgMTAgMC43MTQgMTBxMC4yOSAwIDAuNTEzIC0wLjIwMSIvPjwvc3ZnPg==);
}

a.action-link:hover:after {
  content: " " url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIGZpbGw9IiM2ZmEyZWYiIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIj48cGF0aCBkPSJNOS43OTkgNS41MTNRMTAgNS4yOSAxMCA1dC0wLjIwMSAtMC41MTNMNS41MTMgMC4yMDFRNS4yOSAwIDUgMHQtMC41MTMgMC4yMDFRNC4yODYgMC40MjQgNC4yODYgMC43MTRxMCAwLjI5IDAuMjAxIDAuNTEzTDguMjgxIDUgNC40ODcgOC43NzJxLTAuMjAxIDAuMjIzIC0wLjIwMSAwLjUxMyAwIDAuMjkgMC4yMDEgMC41MTNRNC43MSAxMCA1IDEwdDAuNTEzIC0wLjIwMXpNMS4yMjggOS43OTlsNC4yODYgLTQuMjg2emw0LjI4NiAtNC4yODZRNS43MTQgNS4yOSA1LjcxNCA1dC0wLjIwMSAtMC41MTNMMS4yMjggMC4yMDFRMS4wMDQgMCAwLjcxNCAwIDAuNDI0IDAgMC4yMDEgMC4yMDEgMCAwLjQyNCAwIDAuNzE0cTAgMC4yOSAwLjIwMSAwLjUxM0wzLjk5NiA1IDAuMjAxIDguNzcyUTAgOC45OTYgMCA5LjI4NnEwIDAuMjkgMC4yMDEgMC41MTNRMC40MjQgMTAgMC43MTQgMTBxMC4yOSAwIDAuNTEzIC0wLjIwMSIvPjwvc3ZnPg==);
}

.page-content {
  border-top-color: var(--border-color);
  border-top-width: 1px;
  border-top-style: dashed;
  margin-top: 2em;
  padding-top: 2em;
}

.page-content .page-content-title {
  font-size: 4em;
  font-weight: 500;
  line-height: 1;
  margin-left: -0.02em; /* hack to slightly offset hero text */
}

.posts-list {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 10px;
  list-style: none;
}

.posts-list:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* Hide tags in the post list on home page */
.home-page-posts .tags-container {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.post-clip {
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.post-clip a[href] {
  color: var(--font-color-default);
}

.post-clip a[href]:hover {
  color: var(--hover-link-color);
}

.post-clip .tags-container a {
  color: var(--active-link-color);
}

.post-clip .post-metadata {
  font-size: smaller;
  color: var(--font-color-metadata);
}

.post-clip .post-title,
.post-clip .post-title a[href] {
  font-size: larger;
  font-weight: 700;
}

.post-clip .post-description {
  font-weight: 400;
}

.post-hero .hero-title {
  font-size: 4em;
}

.post-hero .post-publication-date,
.post-hero .post-metadata {
  font-size: smaller;
  color: var(--font-color-metadata);
}

.post-hero .post-metadata {
  padding-bottom: 0.2em;
}

.post-hero .post-publication-date {
  padding-top: 0.2em;
}

/*
  chevrons-left icon (regular, thickest) from https://free-icons.github.io/free-icons,
  re-sized to 10px, optimized and re-colored to #dd72bb and #6fa2ef respectively at https://www.svgviewer.dev/svg-to-data-uri
  for use as emphasis before certain back links
*/
a.posts-backlink:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIGZpbGw9IiNkZDcyYmIiIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIj48cGF0aCBkPSJNMC4yMDEgNC40ODdRMCA0LjcxIDAgNXQwLjIwMSAwLjUxM2w0LjI4NiA0LjI4NlE0LjcxIDEwIDUgMTB0MC41MTMgLTAuMjAxcTAuMjAxIC0wLjIyMyAwLjIwMSAtMC41MTMgMCAtMC4yOSAtMC4yMDEgLTAuNTEzTDEuNzE5IDUgNS41MTMgMS4yMjhRNS43MTQgMS4wMDQgNS43MTQgMC43MTRxMCAtMC4yOSAtMC4yMDEgLTAuNTEzUTUuMjkgMCA1IDB0LTAuNTEzIDAuMjAxek04Ljc3MiAwLjIwMSA0LjQ4NyA0LjQ4N3pMNC40ODcgNC40ODdRNC4yODYgNC43MSA0LjI4NiA1dDAuMjAxIDAuNTEzbDQuMjg2IDQuMjg2UTguOTk2IDEwIDkuMjg2IDEwcTAuMjkgMCAwLjUxMyAtMC4yMDFRMTAgOS41NzYgMTAgOS4yODZxMCAtMC4yOSAtMC4yMDEgLTAuNTEzTDYuMDA0IDUgOS43OTkgMS4yMjhRMTAgMS4wMDQgMTAgMC43MTRxMCAtMC4yOSAtMC4yMDEgLTAuNTEzUTkuNTc2IDAgOS4yODYgMHEtMC4yOSAwIC0wLjUxMyAwLjIwMSIvPjwvc3ZnPg==) " ";
}

a.posts-backlink:hover:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIGZpbGw9IiM2ZmEyZWYiIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIj48cGF0aCBkPSJNMC4yMDEgNC40ODdRMCA0LjcxIDAgNXQwLjIwMSAwLjUxM2w0LjI4NiA0LjI4NlE0LjcxIDEwIDUgMTB0MC41MTMgLTAuMjAxcTAuMjAxIC0wLjIyMyAwLjIwMSAtMC41MTMgMCAtMC4yOSAtMC4yMDEgLTAuNTEzTDEuNzE5IDUgNS41MTMgMS4yMjhRNS43MTQgMS4wMDQgNS43MTQgMC43MTRxMCAtMC4yOSAtMC4yMDEgLTAuNTEzUTUuMjkgMCA1IDB0LTAuNTEzIDAuMjAxek04Ljc3MiAwLjIwMSA0LjQ4NyA0LjQ4N3pMNC40ODcgNC40ODdRNC4yODYgNC43MSA0LjI4NiA1dDAuMjAxIDAuNTEzbDQuMjg2IDQuMjg2UTguOTk2IDEwIDkuMjg2IDEwcTAuMjkgMCAwLjUxMyAtMC4yMDFRMTAgOS41NzYgMTAgOS4yODZxMCAtMC4yOSAtMC4yMDEgLTAuNTEzTDYuMDA0IDUgOS43OTkgMS4yMjhRMTAgMS4wMDQgMTAgMC43MTRxMCAtMC4yOSAtMC4yMDEgLTAuNTEzUTkuNTc2IDAgOS4yODYgMHEtMC4yOSAwIC0wLjUxMyAwLjIwMSIvPjwvc3ZnPg==) " ";
}

.next-previous-container {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: none;
  border-top-color: var(--border-color);
  border-top-width: 1px;
  border-top-style: dashed;
	padding: 2em 0;
	margin-top: 2em;
}

.previous-post-container {
	flex-grow: 1;
}

.next-post-container {
	text-align: right;
}

/* For tablets */
@media screen and (max-width : 1200px) {
  .hero, .post-hero, .page-content {
    max-width: 80vw;
  }

  .footer-grid {
    width: 80vw;
  }
}

/* For phones */
@media screen and (max-width : 600px) {
  .hero, .post-hero, .page-content {
    max-width: 100vw;
  }

  .hero-title {
    font-size: 5.5em;
  }

  .hero-subtitle {
    font-size: 1.2em;
  }

  .post-hero .hero-title {
    font-size: 3em;
  }

  .posts-list {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-gap: 10px;
    list-style: none;
  }

  .page-content .page-content-title {
    font-size: 3.5em;
  }

  .page-content {
    margin-top: 1.2em;
    padding-top: 1.2em;
  }

  .post-clip {
    padding-right: 0.5em;
    padding-bottom: 1em;
  }

  footer {
    padding: 5vw;
  }

  .footer-grid {
    width: 100%;
    display: inline;
  }

  .footer-link-box {
    width: 100%;
    padding-bottom: 1.5em;
  }
}
