<header>
  <a href="/">
    <span class="visually-hidden">Home</span>
    <div>
      <img src="/assets/images/logo.svg" alt="Home" width="1200" height="1200" loading="eager" decoding="sync" style="width: 80px; height: 80px;">
    </div>
  </a>

  <nav>
    <h2 class="visually-hidden">Top level navigation menu</h2>
    <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item">
        <a href="{{ entry.url }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
      </li>
      {%- endfor %}
    </ul>
  </nav>
</header>
