---
layout: layouts/base.njk
---
<section class="post-hero">
  <div class="action-link-container"><a href="pages/projects.njk" class="back-link">All Projects</a></div>
  <div class="hero-title">{{ name }}</div>
  <div class="hero-subtitle">{{ description }}</div>
</section>

<section class="page-content">
  {{ content | safe }}
</section>
