---js
const eleventyNavigation = {
key: "about",
order: 3
};
const permalink = "about/index.html";
---
<section class="hero">
  <div class="hero-title">A Little About Me</div>
  <div class="hero-subtitle">Some infrequently asked questions, so to speak.</div>
</section>

<section class="page-content">
  {% include "blurbs/about-content.md" %}
</section>
