---js
const title = "Talks";
const permalink = "talks/index.html";
---
<section class="hero">
  <div class="hero-title">Talks</div>
  <div class="hero-subtitle">A selection of talks I've given.
  </div>
</section>

<section class="page-content">
  {{ metadata.placeholderText }}
</section>
