@import url("_reset.css");
@import url("_inter.css");
@import url("_icons.css");
@import url("_code.css");

:root {
  font-family: InterVariable, sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  --font-color-default: #3e3e3e;
  --font-color-lighter: #757575;
  --font-color-metadata: #b3b3b3;

  --bg-color: #fff;
  --grid-line-color: #ffe8e8 ;
  --header-footer-bg: linear-gradient(var(--grid-line-color) 0.05em, transparent 0.03em), linear-gradient(90deg, var(--grid-line-color) 0.05em, var(--bg-color) 0.08em);

  --active-link-color: #dd72bb;
  --hover-link-color: #6fa2ef;
  --border-color: #6fa2ef;

  color: var(--font-color-default);
  background-color: var(--bg-color);
}

/* Start theme color toggles -- keep these two blocks in sync */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #2b282b;
    --grid-line-color: #433;
    --external-link-icon: var(--external-link-icon-lighter);
    --font-color-default: #efefec;
    --font-color-lighter: #eaeaea;
  }

  :root:has(#toggle-theme:checked) {
    --bg-color: #fff;
    --grid-line-color: #ffe8e8 ;
    --external-link-icon: var(--external-link-icon-darker);
    --font-color-default: #3e3e3e;
    --font-color-lighter: #757575;
  }

  #toggle-theme-label::before {
    background-image: var(--theme-toggle-icon-light);
  }

  #toggle-theme:checked + #toggle-theme-label::before {
    background-image: var(--theme-toggle-icon-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --grid-line-color: #ffe8e8 ;
    --external-link-icon: var(--external-link-icon-darker);
    --font-color-default: #3e3e3e;
    --font-color-lighter: #757575;
  }

  :root:has(#toggle-theme:checked) {
    --bg-color: #2b282b;
    --grid-line-color: #433;
    --external-link-icon: var(--external-link-icon-lighter);
    --font-color-default: #efefec;
    --font-color-lighter: #eaeaea;
  }

  #toggle-theme-label::before {
    background-image: var(--theme-toggle-icon-dark);
  }

  #toggle-theme:checked + #toggle-theme-label::before {
    background-image: var(--theme-toggle-icon-light);
  }
}
/* End theme color toggles */

* {
  box-sizing: border-box;
}

@view-transition {
  navigation: auto;
}

html,
body {
  padding: 0;
  margin: 0 auto;
}

body {
  height: 100vh;
  text-transform: lowercase;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main,
header,
footer {
  padding: 2.16rem 5vw;
}

main {
  flex-grow: 1;
}

a[href],
a[href]:visited {
  text-decoration: none;
  color: var(--active-link-color);
}

a[href]:hover {
  color: var(--hover-link-color);
}

/* For use with external links or links that open in a new tab */
a[target="_blank"]:after,
a[href^="http"]:after {
  content: " " var(--external-link-icon);
}

a[target="_blank"]:hover:after,
a[href^="http"]:hover:after {
  content: " " var(--external-link-icon-hover);
}

header,
footer {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: var(--header-footer-bg);
  background-size: 0.5em 0.5em;
  flex-grow: 0;
  flex-shrink: 0;
}

.logo {
  width: 80px;
  height: 80px;
}

header {
  align-items: center;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  gap: 0.5em;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  text-decoration: none;
  margin-left: 0.3em;
  font-weight: 600;
}
.nav-item a[href]:not(:hover),
.nav-item a[href]:visited {
  color: var(--font-color-default);
}
.nav-item a[href]:hover {
  color: var(--hover-link-color);
  border-bottom: 0.2rem solid var(--hover-link-color);
}
.nav a[href][aria-current="page"] {
  color: var(--active-link-color);
}

footer {
  text-transform: none;
  font-size: smaller;
}

footer .copyright {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .copyright-text {
  margin-right: auto;
}

footer .copyright-maintext {
  font-weight: 500;
}

footer .copyright-subtext {
  font-weight: 300;
  color: var(--font-color-lighter);
}

.footer-grid {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer-link-box {
  width: calc(100% / 3);
}

.footer-grid .footer-link-box .footer-link-item {
  padding: 0.25rem 0;
}

footer a[href],
footer a[href]:visited {
  color: var(--font-color-default);
}

footer a[href]:hover {
  color: var(--hover-link-color);
}

.toggle-theme-container {
  position: relative;
}

#toggle-theme-label {
  display: block;
  width: 40px;
  height: 40px;
  color: transparent;
  user-select: none;
}

#toggle-theme-label::before,
#toggle-theme-label::after {
  content: "";
  display: block;
  cursor: pointer;
  background-size: cover;
}

#toggle-theme-label::before {
  width: 100%;
  height: 100%;
}

.hero,
.post-hero,
.page-content {
  max-width: 70vw;
}

.hero-title {
  font-size: 6em;
  font-weight: 500;
  line-height: 1;
  margin-left: -0.05em;
}

.hero-subtitle {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--font-color-lighter);
  padding-top: 0.5em;
}

.action-link-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

a.action-link,
a.back-link {
  font-weight: 600;
}

a.action-link:after {
  content: " " var(--action-link-icon);
}

a.action-link:hover:after {
  content: " " var(--action-link-icon-hover);
}

a.back-link:before {
  content: var(--back-link-icon) " ";
}

a.back-link:hover:before {
  content: var(--back-link-icon-hover) " ";
}

.page-content {
  border-top: 1px dashed var(--border-color);
  margin-top: 2em;
  padding-top: 2em;
}

.page-content .page-content-title {
  font-size: 4em;
  font-weight: 500;
  line-height: 1;
  margin-left: -0.02em; /* hack to slightly offset hero text */
}

.posts-list {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 10px;
  list-style: none;
}

.posts-list:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* Hide tags in the post list on home page */
.home-page-posts .tags-container {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.tags-list {
  list-style: none;
  padding-left: 0;
}

.post-clip {
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.post-clip a[href] {
  color: var(--font-color-default);
}

.post-clip a[href]:hover {
  color: var(--hover-link-color);
}

.post-clip .tags-container a {
  color: var(--active-link-color);
}

.post-clip .post-metadata {
  font-size: smaller;
  color: var(--font-color-metadata);
}

.post-clip .post-title,
.post-clip .post-title a[href] {
  font-size: larger;
  font-weight: 700;
}

.post-clip .post-description {
  font-weight: 400;
}

.post-hero .hero-title {
  font-size: 4em;
}

.post-hero .post-publication-date,
.post-hero .post-metadata {
  font-size: smaller;
  color: var(--font-color-metadata);
}

.post-hero .post-metadata {
  padding-bottom: 0.2em;
}

.post-hero .post-publication-date {
  padding-top: 0.2em;
}

p code {
  border: 2px dotted #eebcde;
  padding-left: 1px;
  padding-right: 1px;
}

blockquote {
  display: flex;
	flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  font-feature-settings: 'ss03';
}

blockquote p {
	font-size: 2.1rem;
  font-weight: 500;
  max-width: 600px;
  width: 100%;
	line-height: 1.1;
  position: relative;
	margin: 0;
  position: relative;
  font-style: italic;
}

blockquote p:before,
blockquote p:after {
	position: absolute;
	color: #eebcde;
	font-size: 4rem;
  font-style: normal;
	width: 4rem;
	height: 4rem;
}

blockquote p:before {
	content: '“';
	top: -2rem;
	left: -2.6rem;
}

blockquote p:after {
	content: '”';
	bottom: -3rem;
	right: -2.6rem;
}

.next-previous-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5em 1em;
  list-style: none;
  border-top: 1px dashed var(--border-color);
  padding: 2em 0;
  margin-top: 2em;
}

.previous-post-container {
  flex-grow: 1;
}

.next-post-container {
  text-align: right;
}

/* For tablets */
@media screen and (max-width: 1200px) {
  .hero,
  .post-hero,
  .page-content {
    max-width: 80vw;
  }

  .footer-grid {
    width: 80vw;
  }
}

/* For phones */
@media screen and (max-width: 600px) {
  .hero,
  .post-hero,
  .page-content {
    max-width: 100vw;
  }

  .hero-title {
    font-size: 4.5em;
  }

  .hero-subtitle {
    font-size: 1.1em;
  }

  .post-hero .hero-title {
    font-size: 3em;
  }

  .posts-list {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-gap: 10px;
    list-style: none;
  }

  .page-content .page-content-title {
    font-size: 3.5em;
  }

  .page-content {
    margin-top: 1.2em;
    padding-top: 1.2em;
  }

  .post-clip {
    padding-right: 0.5em;
    padding-bottom: 1em;
  }

  footer {
    padding: 5vw;
  }

  .footer-grid {
    width: 100%;
    display: inline;
  }

  .footer-link-box {
    width: 100%;
    padding-bottom: 1.5em;
  }

  footer .copyright {
    display: inline;
  }
}
