<footer>
  <div class="copyright">
    <p class="copyright-text">
      <span class="copyright-maintext">&copy; {{ metadata.year }} {{ metadata.author.name }}.</span> <span
        class="copyright-subtext">All rights reserved.</span>
    </p>
  </div>

  <div class="footer-grid">
    <div class="footer-link-box">
      <div class="footer-link-item"><a href="https://linkedin.com/in/funmioludaiye" target="_blank">LinkedIn</a></div>
      <div class="footer-link-item"><a href="https://github.com/missfunmi" target="_blank">GitHub</a></div>
      <div class="footer-link-item"><a href="https://strava.com/athletes/4621317" target="_blank">Strava</a></div>
      <div class="footer-link-item"><a href="https://www.recurse.com/scout/click?t=c7bc9ba4cb3e6725e05e413f16f8c5a3"
          target="_blank">Recurse Center</a></div>
    </div>
    <div class="footer-link-box">
      <div class="footer-link-item"><a href="pages/posts.njk">Posts</a></div>
      <div class="footer-link-item"><a href="pages/projects.njk">Projects</a></div>
    </div>
    <div class="footer-link-box">
      <div class="footer-link-item"><a href="pages/about.njk">About</a></div>
      <div class="footer-link-item"><a href="/feed.xml">RSS</a></div>
    </div>
  </div>
</footer>
